#
# Copyright (c) Siemens AG 2019-2026 ALL RIGHTS RESERVED
#

name: build

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        container:
            image: gradle:9.2.1-jdk17
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  fetch-tags: true

            - name: 'save-env'
              run: |
                  echo "SAVE_JAVA_HOME=${JAVA_HOME}" >> "$GITHUB_ENV"
                  echo "SAVE_PATH=${PATH}" >> "$GITHUB_ENV"

            - name: 'add-jdk8'
              uses: actions/setup-java@v5
              with:
                  distribution: temurin
                  java-version: 8

            - name: versions
              run: |
                  export JAVA_HOME=$SAVE_JAVA_HOME
                  echo JAVA_HOME=${JAVA_HOME}
                  export PATH=$SAVE_PATH
                  echo PATH=${PATH}
                  git --version
                  echo '---'
                  java -version
                  echo '---'
                  ${JAVA_HOME_8_X64}/bin/java -version
                  echo '---'
                  export EXTRA_JDKS="-Porg.gradle.java.installations.paths=${JAVA_HOME_8_X64}"
                  echo "EXTRA_JDKS=${EXTRA_JDKS}" >> "$GITHUB_ENV"
                  gradle ${EXTRA_JDKS} javaToolchains

            - name: build
              run: |
                  export JAVA_HOME=$SAVE_JAVA_HOME
                  export PATH=$SAVE_PATH
                  gradle ${EXTRA_JDKS} --warning-mode all clean build

            - name: codecov
              uses: codecov/codecov-action@v5
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
